<body>
    <h1 class="titleabout">ABOUT US</h1>
    <div>
        <img class="imgabout" src="https://i.redd.it/estpv0c6iw841.jpg" style="width:250px;height:250px;">
        <p class="textabout">Asset Store - it is a unique marketplace, created for the quick purchase and sale of assets, scripts, 
            as well as other files for <a style="font-size: 20px; text-decoration: double">Unity</a>. Our advantages are safety and convenience, therefore to use our resource you need to 
            <a style="color: black;" href="/register">REGISTER</a>.</p>
        <section class="offer">
            <h2> What can you buy on our website? </h2>
            <p class="offer-assets"> Assets </p>
            <p class="offer-scripts"> Scripts </p>
            <p class="offer-files"> Other files</p>
        </section>
    </div>  
</body>

