
<!-- <section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div [ngClass]="{class2: true}"> 
      <h1>{{title}}</h1>
    </div>
    <div class="section-title">
      <a class="get-started-btn" routerLink={{link}}>GetStarted</a>
    </div>
  </div>
</section> -->

<body>
  <header>
    <!-- <img class="imghome" src="https://i.ibb.co/k5qc0s3/rounded-in-photoretrica-1.png"> -->
    <p class="home-header">GAMEDEV STARTS HERE</p>
    <div class="getstartbtn">
      <p><a class="get-started" routerLink={{link}}>Get Started</a></p>
    </div>
    <div class="home-text">
      Create your first game with us!
    </div>
  </header>
</body>