<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <table>
        <thead>
          <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Автор</th>
            <th>Категории</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of positions">
            <td>{{item.name}}</td>
            <td>{{item.cost / 100}} грн</td>
            <td>{{item.user[0].username}}</td>
            <td *ngFor="let i of item.categories">{{i.name}}</td>
            <button *ngIf="user.items.includes(item.id)" (click)="download(item.files, item.name, item.type)">Download</button>
            <button *ngIf="!user.items.includes(item.id)" (click)="pay(item.id)">Купить</button>
          </tr>
        </tbody>
      </table>
  </div>
</section>
