<!-- <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div [ngClass]="{class2: true}"> 
        <h1 class="profile-title">Profile</h1>
      </div>
      <div>
        <a>UserID: {{user.id}}</a>
      </div>
      <div>
        <a>Username: {{user.username}}</a>
      </div>
      <div>
        <a>Email: {{user.email}}</a>
      </div>
      <div class="container">
        <a>Приобретенные товары</a>
        <table>
            <thead>
              <tr>
                <th>Название</th>
                <th>Автор</th>
                <th>Категории</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of positions">
                <td>{{item.name}}</td>
                <td>{{item.user[0].username}}</td>
                <td *ngFor="let i of item.categories">{{i.name}}</td>
                <button (click)="download(item.files, item.name, item.type)">Download</button>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </section> -->

<body>
  <h1 class="profile-title"> Profile</h1>
  <div class="profile-tangle">
      <section>
        <div *ngIf="!loaded" class = "load-gif">
          <img style="filter: invert(100);" src="assets/icons/loader.gif">
        </div>
        <img *ngIf="loaded"src="https://i.ibb.co/2dCGQnB/proficon.png" class="profile-img" style="width:200px ;height: 200px;">
        <div *ngIf="user != null && loaded">
        <p class="profile-info">UserID: {{user.id}}</p>
        <p class="profile-info">Username: {{user.username}}</p>
        <p class="profile-info">Email: {{user.email}}</p>
        <p class="profile-purchases-title">Purchases:</p>
        </div>
        <p class="profile-purchases-title" *ngIf="user == null && loaded">Пользователь не найден</p>
        <div *ngIf = "user != null && loaded"><p class="profile-purchases-title" *ngIf="user.items.length == 0">Нет приобретенных товаров</p></div>
          <div *ngIf="user != null && loaded">
            <input *ngIf="positions.length != 0" style="width: 50%;"type=text [(ngModel)]="search">
            <table class="purchases-table" *ngIf="user.items.length != 0">
                <tr >
                  <th class="purchases-table-items-names"></th>
                  <th class="purchases-table-items-names">Название</th>
                  <th class="purchases-table-items-names">Автор</th>
                  <th class="purchases-table-items-names">Категории</th>
                  <th class="purchases-table-items-names"></th>
                </tr>
                <tr *ngFor="let item of positions | filter:search ; index as i;" class="purchases-table-items">
                  <img [routerLink]="['/assets', item.id]" style="width: 150px; width: 90px; margin-top: 20%;" [src]="img[i]">
                  <td [routerLink]="['/assets', item.id]" class="purchases-table-items" >{{item.name}}</td>
                  <td [routerLink]="['/assets', item.id]" class="purchases-table-items" >{{item.user[0].username}}</td>
                  <td [routerLink]="['/assets', item.id]" class="purchases-table-items"><table *ngFor="let i of item.categories"><tr><td>{{i.name}}</td></tr></table></td>
                  <td [routerLink]="['/assets', item.id]" class="purchases-table-items"><button class="get-started-btn" *ngIf="user.id == currentUser.id" (click)="download(item.files, item.name, item.type)">Download</button></td>
                </tr>
            </table>
          </div>
        </section>
    </div>
  </body>