<!-- <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div [ngClass]="{class2: true}"> 
        <h1 class="profile-title">Profile</h1>
      </div>
      <div>
        <a>UserID: {{user.id}}</a>
      </div>
      <div>
        <a>Username: {{user.username}}</a>
      </div>
      <div>
        <a>Email: {{user.email}}</a>
      </div>
      <div class="container">
        <a>Приобретенные товары</a>
        <table>
            <thead>
              <tr>
                <th>Название</th>
                <th>Автор</th>
                <th>Категории</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of positions">
                <td>{{item.name}}</td>
                <td>{{item.user[0].username}}</td>
                <td *ngFor="let i of item.categories">{{i.name}}</td>
                <button (click)="download(item.files, item.name, item.type)">Download</button>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </section> -->

<body>
  <h1 class="profile-title"> Your profile</h1>
  <div class="profile-tangle">
      <section>
        <img src="https://i.ibb.co/2dCGQnB/proficon.png" class="profile-img" style="width:200px ;height: 200px;">
        <p class="profile-info">UserID: {{user.id}}</p>
        <p class="profile-info">Username: {{user.username}}</p>
        <p class="profile-info">Email: {{user.email}}</p>
        <p class="profile-purchases-title">Purchases:</p>
		<p class="profile-purchases-title" *ngIf="positions.length == 0">У вас нет приобретенных товаров</p>
        <div>
          <table class="purchases-table" *ngIf="positions.length != 0">
              <tr >
                <th class="purchases-table-items-names">Название</th>
                <th class="purchases-table-items-names">Автор</th>
                <th class="purchases-table-items-names" >Категории</th>
                <th class="purchases-table-items-names" ></th>
              </tr>
              <tr *ngFor="let item of positions" class="purchases-table-items">
                <td class="purchases-table-items" >{{item.name}}</td>
                <td class="purchases-table-items" >{{item.user[0].username}}</td>
                <td class="purchases-table-items"><table *ngFor="let i of item.categories"><tr><td>{{i.name}}</td></tr></table></td>
                <td class="purchases-table-items"><button class="get-started-btn" *ngIf="user.id == currentUser.id" (click)="download(item.files, item.name, item.type)">Download</button></td>
              </tr>
          </table>
        </div>
      </section>
  </div>
</body>