<section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div [ngClass]="{class2: true}"> 
        <h1>Profile</h1>
      </div>
      <div>
        <a>UserID: {{user.id}}</a>
      </div>
      <div>
        <a>Username: {{user.username}}</a>
      </div>
      <div>
        <a>Email: {{user.email}}</a>
      </div>
      <div class="container">
        <a>Приобретенные товары</a>
        <table>
            <thead>
              <tr>
                <th>Название</th>
                <th>Автор</th>
                <th>Категории</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of positions">
                <td>{{item.name}}</td>
                <td>{{item.user[0].username}}</td>
                <td *ngFor="let i of item.categories">{{i.name}}</td>
                <button (click)="download(item.files, item.name, item.type)">Download</button>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </section>